/*Cart Css for display
----------------------------------*/

/*Heading
----------------------------------*/
.cart-table-title {
    font-weight:bold;
    font-size:18px;
    width: 60%;

}
.cart-table-price {
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    padding-right: 10px;
}
.cart-table {
    width: 100%;
    min-width:500px;
}

cart-header {
    width: 100%;

}
.cart-table-checkout {
    padding-top: 10px;
}

.cart-checkoutbtn {
    padding: 10px;
    border-radius: 5px;
    background-color: #E74A19;
    color: white;
}
    .cart-checkoutbtn:hover {
        background-color: #E95E33;
        color: blue;
        text-decoration: none;
        font-weight: normal;
    }

/*Table Css
----------------------------------*/
.itemcell {
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    width: 50%;
    align-items: center;
}

    .datacell {
        text-align: left;
        vertical-align: middle;
        padding: 10px;
        width: 50%;
    }

.carttable {
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing:0px 15px;
    width:95%;
    min-width:400px;
    max-width:800px;
}
.cart-col {
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
}

    .qtybox{
        width:40px;
        text-align:center;
    }

.cart-row {
    padding-top: 20px;
    padding-bottom: 20px;
}

.cart-btn-remove {
    background-color: #E74A19;
    color: white;
    padding: 2px 5px 2px 5px;
    border: hidden;
    border-radius: 5px;
}
    .cart-btn-remove:hover {
        background-color: #E95E33;
        color: blue;
    }
    .cart-btn-holder {
        padding-top: 15px;
    }

/*Small product for similar display
----------------------------------*/
.S-pdDys-holder {
    padding:0px 5px 0px 5px;
}

.S-pdDys-tbl {
    display: table;
    width: 140px;
    height: auto;
    padding: 1px 1px 2px 1px;
}
    .S-pdDys-tbl:hover > div > div:first-child {
        width: 150px;
    }

.S-pdDys-row {
    display: table-row;
}

.S-pdDys-col-img {
    display: table-cell;
    height: 90px;
    width: 120px;
    text-align: center;
    vertical-align: middle;
}

.S-pdDys-img {
    width: 98%;
}

.S-pdDys-col-title {
    display: table-cell;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}



.S-pdDys-col-price {
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    color: #E3471D;
}


/*Buttons shared*/

