/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #F9FAFD;
    /*#F6F8FC*/
}

/*Navigation Bar Classes
---------------------------------------------------*/
.hnav-holder{
    width: 100%;
    text-align:center;
    font-size:16px;
}
.hnav-tbl{
    width:95%;
    margin-left:auto;
    margin-right:auto;
    border:none;
}

.hnav-row {
    border: none;
}

.hnav-cell-link {
    width: 80%;
    text-align: left;
    border: none;
}

.hnav-cell-cart {
    text-align: right;
    border: none;
}

/*Product display
-------------------------------------------------- */
.pdDys-holder {
    border: 2px solid black;
    border-radius: 10px;
    width: 250px;
}
.pdDys-holder-center {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}
.pdDys-tlb{
    display:table;
    width:250px;
    height:auto;
    padding:3px 3px 5px 3px;
}
.pdDys-row {
    display: table-row;
}
.pdDys-cell-img {
    display: table-cell;
    height: 160px;
    width: 200px;
    text-align: center;
    vertical-align: middle;
}
.pdDys-img {
    width: 200px;
}

.pdDys-cell-title {
    display: table-cell;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}
.pdDys-cell-desc {
    display: table-cell;
    width: 100%;
    font-size: 14px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    height: 5.5em;
}

.pdDys-cell-btn {
    display: table-cell;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 5px;
}
.pdDys-btn {
    width: 80%;
    box-shadow: 2px 3px;
    padding: 5px;
    border-radius: 5px;
    background-color: #6B99E3;
    border: none;
}

.prod-findtxt {
    background-color: #FFFF5D;
}

