/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/*Header Modification*/
.headerdiv{
    width: 100%;
    text-align:center;
}
.headertable{
    width:95%;
    margin-left:auto;
    margin-right:auto;
}

.header-col1{
    width:80%;
    text-align: left;
}

.header-col2{
    text-align:right;
}

/*Product display*/
.prod-holder-table{
    display:table;
    width:250px;
    height:auto;
    border: 2px solid black;
    padding:3px;
}
.prod-holder-row{
    display:table-row;
}
.prod-col-img {
    display:table-cell;
    height:150px;
    width:200px;
    text-align:center;
    vertical-align:middle;
}
.prod-col-title {
    display: table-cell;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding-top: 3px;
}
.prod-col-dec {
    display: table-cell;
    width: 100%;
    font-size: 14px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
}

.prod-col-btn {
    display: table-cell;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.prod-button{
    width:80%;
}
.prod-img{
    width:200px;
}