@{
    ViewData["Title"] = "Login";
    Layout = "_LoginLayout";
    bool? loginfail = (bool?)ViewData["loginfail"];
}
@if(loginfail != null)
            {
    <script>
        window.onload = function () {
            alert("Invalid Username or Password")
        };
    </script>
            }

<div class="card mycard">
    <form action="/Login/Login" method="POST">
        <!-- Username input -->
        <div class="form-outline mb-4">
            <input type="text" id="form2Example1" class="form-control" placeholder="Username" name="username"/>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" class="form-control" placeholder="Password" name="password"/>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-block btn-primary">Sign in</button>
    </form>
</div>
