@{
    ViewData["Title"] = "Login";
    Layout = "_LoginLayout";
}
<style>
    body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
	body:before {
	content: '';
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-image: url("../OtherPictures/login.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	/*-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	filter: blur(10px);*/
}
</style>
<body>
<div class="card mycard">
    <form action="/Login/Login" method="POST">
        <!-- Username input -->
        <div class="form-outline mb-4">
            <input type="text" id="form2Example1" class="form-control" placeholder="Username" name="username"/>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" class="form-control" placeholder="Password" name="password"/>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-block btn-primary">Sign in</button>
    </form>
</div>
</body>