@{
    Layout = "_ShopLayout";
    ViewData["Title"] = "Checkout";
}

<style>
    table, td, th, tr {
        border: 1px solid #0066cc;
    }

    td, th {
        text-align: center;
        padding: 8px;
    }

    .even_row {
        background-color: #f5fcff;
    }
</style>

<table>
    <tr class="even_row">
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
</table>

<body style = "background-color: orange;">
    <img src = "~/pictures/dotnet_paypal.jpg" />
</body>
