@{
    Layout = "_ShopLayout";
    ViewData["Title"] = "Checkout";
}

<style>
    table, td, th, tr {
        border: 1px solid #0066cc;
    }

    td, th {
        text-align: center;
        padding: 8px;
    }

    .even_row {
        background-color: #f5fcff;
    }
</style>

<table>
    <tr class="even_row">
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    <tr>
        <td><img src = "~/pictures/dotnet_paypal_b87f5d05-ecba-440d-b43c-5c44b8a19852.jpg" height= "300" width ="200" />"PayPal"</td>
        <td>2</td>
        <td>$138</td>
    </tr>
    <tr>
        <td><img src = "~/pictures/dotnet_charts_00da522c-3653-491c-8749-7fd8e71ad728.jpg" height= "300" width = "200" />".NET Charts"</td>
        <td>4</td>
        <td>$396</td>
    </tr>
    <tr>
        <td><img src = "~/pictures/dotnet_analytics_88ac7cbd-80da-4ff2-a1a5-a324bf648f15.jpg" height= "300" width ="200" />".NET Analytics"</td>
        <td>2</td>
        <td>$598</td>
    </tr>
    <tr>
        <td><img src = "~/pictures/dotnet_logger_c45f20ff-8adc-4da3-8c60-ae8c829bc832.jpg" height = "300" width = "200" />".NET Logger"</td>
        <td>1</td>
        <td>$49</td>
    </tr>
</table>

