@using ShoppingCartCA.Views.Shared;
@{
    Layout = "_ShopLayout";
    ViewData["Title"] = "Checkout";

    List<CartDetail> allcartitem = (List<CartDetail>)ViewData["allcartitem"];

    //bool customerKnown = (bool)ViewData["customerknown"];

    double totalprice = 0;
    foreach (CartDetail cartitem in allcartitem)
    {
        totalprice += cartitem.Product.Price * cartitem.Quantity;
    }

}
@section StyleScript{
    <link rel="stylesheet" href="~/css/cartpage.css" />
    <script type="text/javascript" src="~/js/cartpage.js"></script>
}
<style>
    #centerDiv {
        max-width: 850px;
        margin: 0 auto;
    }
</style>

<div id="centerDiv">
    <br />
    <div class="cart-header">
        <table class="cart-table">
            <tr>
                <td class="cart-table-title">
                    <h3>Checkout</h3>
                </td>

            </tr>
        </table>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6"><b>Product</b></div>
        <div class="col-md-2"><b>Unit Price</b></div>
        <div class="col-md-2"><b>Quantity</b></div>
        <div class="col-md-2"><b>Subtotal</b></div>
    </div>
    <br />
    @foreach (CartDetail cartDetail in allcartitem)
    {
        double subtotal = cartDetail.Quantity * cartDetail.Product.Price;
        double priceShown = cartDetail.Product.Price * cartDetail.Quantity;

        <div class="row">
            <div class="col-md-6"><img src="@cartDetail.Product.Img" alt="@cartDetail.Product.Name" width="50" height="40" /> @cartDetail.Product.Name</div>
            <div class="col-md-2">$@String.Format("{0:0,0.00}", cartDetail.Product.Price)</div>
            <div class="col-md-2">@String.Format("{0:0,0}", cartDetail.Quantity)</div>
            <div class="col-md-2">$@String.Format("{0:0,0.00}", subtotal)</div>
        </div>
        <br />
    }
    <br />
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4" align="right"><b>Order Total: $@String.Format("{0:0,0.00}", totalprice)</b></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4"><b>Payment Method</b></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">Visa img</div>
        <div class="col-md-2">Masters img</div>
        <div class="col-md-2">PayNow img</div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4" align="right"><a href="../Checkout" class="cart-checkoutbtn">Place Order</a></div>
    </div>
</div>

